body{
    margin:0;
    background-color: papayawhip;
}
#hobbies{
    display: none;
}
#skills{
    display: none;
}
.header{
    display:flex;
    background: rgb(157, 231, 127);
    width:100%;
    top: 0;
    position: fixed;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-button{
    font-size: 40px;
    font-family: Sofia;
    background: rgb(157, 231, 127);
    border: none;
    color:rgb(86, 4, 238);
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.nav-button:hover{
    background-color: #4CAF50; /* Green */
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.profilename{
    display: flex;
    width: 60%;
    padding-left: 30px;
    color:rgb(86, 4, 238);
    font-size: 40px;
    font-family: Sofia;
}
.content{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
    width:100%;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
}
.contentfirst{
    display: flex;
    width: 70%;
}
.contenthead{
    color:rgb(230, 23, 50);
    font-size: 40px;
    font-family: Sofia;
}
.contentindetail{
    color:rgb(10, 102, 206);
    font-size: 30px;
    font-family: Sofia;
}
.socialmedia{
    font-size: 40px;
    font-family: Sofia;
}
.button{
    font-size: 40px;
    font-family: Sofia;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.ProfilePhoto{
    width: auto;
    border: 4px solid rgb(71, 6, 6);
    padding: 5px;
    animation-name: animateimages;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.button:hover {background-color: #185cdb}
.hobbies-head{
    margin-top: 60px;
    font-family: Sofia;
}
.skillshead{
    font-size: 40px;
    font-family: Sofia;
    text-shadow: 2px 2px #ff0000;
}
.hobbies-container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.hobbies-image-caption{
    color:rgb(86, 4, 238);
    font-size: 20px;
    font-family: Sofia;
}
img {
    border-radius: 50%;
}
.hobbies-image{
    width: 200px;
    animation-name: animateimages;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.hobbies-image:hover{
    border: 4px solid rgb(223, 42, 11);
    box-shadow: 0.2em 0.2em 10px rgb(223, 42, 11) ,-0.2em -0.2em 10px rgb(223, 42, 11);
    transform: scale(1.1);
}
.skills-head{
    display: flex;
    margin-top: 50px;
    font-family: Sofia;
}
.skills-container-tech{  
    border: 4px solid rgb(223, 42, 11);
    box-shadow: 0.2em 0.2em 10px rgb(223, 42, 11) ,-0.2em -0.2em 10px rgb(223, 42, 11);
    border-radius: 8px;
}
.skills-container-tech:hover{
    border: 4px solid rgb(223, 42, 11);
    transform: scale(1.05);
    box-shadow: 0.2em 0.2em 10px rgb(223, 42, 11) ,-0.2em -0.2em 10px rgb(223, 42, 11);
}
.skills-container-nontech{  
    border: 4px solid rgb(223, 42, 11);
    box-shadow: 0.2em 0.2em 10px rgb(223, 42, 11) ,-0.2em -0.2em 10px rgb(223, 42, 11);
    border-radius: 8px;
}
.skills-container-nontech:hover{
    border: 4px solid rgb(223, 42, 11);
    transform: scale(1.05);
    box-shadow: 0.2em 0.2em 10px rgb(223, 42, 11) ,-0.2em -0.2em 10px rgb(223, 42, 11);
}
.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skillshead2{
    font-size: 30px;
    font-family: Sofia;
    text-shadow: 2px 2px #ff0000;
}
.skills{
    font-size: 30px;
    font-family: Sofia;
}
.skill-stat{
    width: 400px;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.skill-stat-value{
    background-color: violet;
    height: 20px;
}
.footer{
    margin-bottom: 0px;
    padding-bottom: 0px;
    color:rgb(86, 4, 238);
    font-size: 40px;
    font-family: Sofia;
    bottom:0;
}
@keyframes animateimages {
    from {border-radius: 47%;}
    to {border-radius: 50%;}
}
@media(max-width:600px){
    .profilename{
        width:40%;
        font-size: 20px;
    }
    .nav-button{
        font-size: 20px;
    }
    .menu{
        font-size: 20px;
    }
    .contenthead{
        color:rgb(230, 23, 50);
        font-size: 20px;
        font-family: Sofia;
    }
    .contentindetail{
        color:rgb(10, 102, 206);
        font-size: 20px;
        font-family: Sofia;
    }
    .ProfilePhoto{
        width: 300px;
    }
    .socialmedia{
        font-size: 20px;
    }
    .button{
        font-size: 25px;
    }
    .hobbies-container-3{
        border: 4px double rgb(71, 6, 6);
        border-radius: 6%;
    }
    .skills-container{
        border: 4px double rgb(71, 6, 6);
        border-radius: 0%;
    }
    .skills-container-tech{
        border: none;  
        box-shadow: none;
    }
    .skills-container-tech:hover{
        border: none;
        box-shadow: none;
        transform: scale(1);
    }
    .skills-container-nontech{  
        border:none;
        box-shadow: none;
    }
    .skills-container-nontech:hover{
        border: none;
        box-shadow: none;
        transform: scale(1);
    }
    .skillshead2{
        font-size: 25px;
    }
    .skills{
        font-size: 25px;
        font-family: Sofia;
    }
    .skill-stat{
        width: 80%;
        display: flex;
        flex-direction: row;
        background-color: white;
    }
    .skill-stat-value{
        background-color: violet;
        height: 15px;
    }
    .hobbies-image{
        width: 135px;
    }
    .hobbies-image:hover{
        width: 160px;
        transition-duration: 2s;
    }
    .footer{
        font-size: 20px;
    }
}
