body{
    margin:0;
    background-color: papayawhip;;
}
.header{
    display:flex;
    background: rgb(157, 231, 127);
    width:100%;
    top: 0;
    position: fixed;
    justify-content: space-between;
    flex-wrap: wrap;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.profilename{
    display: flex;
    width: 60%;
    padding-left: 30px;
    color:rgb(86, 4, 238);
    font-size: 40px;
    font-family: Sofia;
}
.nav{
    display: flex;
    justify-content: space-between;
    direction: ltr;
    width: 30%;
    margin-right: auto;
}
.menu{
    color:rgb(86, 4, 238);
    font-size: 35px;
    font-family: Sofia;
}
.menu:hover{
    cursor: pointer;
    background-color: white;
}
.content{
    display:flex;
    flex-direction: row;
    margin-top: 50px;
    width:100%;
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
    flex-wrap: wrap;
}
.contentfirst{
    display: flex;
    width: 70%;
}
.contenthead{
    color:rgb(230, 23, 50);
    font-size: 40px;
    font-family: Sofia;
}
.contentindetail{
    color:rgb(10, 102, 206);
    font-size: 30px;
    font-family: Sofia;
}
.socialmedia{
    font-size: 40px;
    font-family: Sofia;
}
.button{
    font-size: 40px;
    font-family: Sofia;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.button:hover {background-color: #185cdb}
.ProfilePhoto{
    width: auto;
    border: 4px solid rgb(71, 6, 6);
    padding: 5px;
    animation-name: animateimages;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.ProfilePhoto:hover{
    transform: scaleX(-1);
}
.hobbies-head{
    margin-top: 60px;
    font-family: Sofia;
}
h1{
    font-family: Sofia;
    text-shadow: 2px 2px #ff0000;
}
.hobbies-container-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.hobbies-image{
    width: 200px;
}
.hobbies-image{
    width: 200px;
    animation-name: animateimages;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
.hobbies-image:hover{
    width: 250px;
    transition-duration: 2s;
}
.hobbies-image-caption{
    color:rgb(86, 4, 238);
    font-size: 20px;
    font-family: Sofia;
}
.skills-head{
    display: flex;
    margin-top: 50px;
}
.skills-container-tech{  
    box-shadow: 10px 10px 5px grey, 10px 10px 5px grey inset;
}
.skills-container-nontech{  
    box-shadow: 10px 10px 5px grey, 10px 10px 5px grey inset;
}
.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skillshead2{
    font-size: 30px;
    font-family: Sofia;
    text-shadow: 2px 2px #ff0000;
}
.skills{
    font-size: 30px;
    font-family: Sofia;
}
img {
    border-radius: 50%;
}
.skill-stat{
    border-radius: 0%;
}
@keyframes animateimages {
    from {border-radius: 47%;}
    to {border-radius: 50%;}
}
@media(max-width:600px){
    .profilename{
        width:40%;
        font-size: 20px;
    }
    .menu{
        font-size: 20px;
    }
    .contenthead{
        color:rgb(230, 23, 50);
        font-size: 20px;
        font-family: Sofia;
    }
    .contentindetail{
        color:rgb(10, 102, 206);
        font-size: 20px;
        font-family: Sofia;
    }
    .ProfilePhoto{
        width: 300px;
    }
    .button{
        font-size: 25px;
    }
    .hobbies-container-3{
        border: 10px solid rgb(71, 6, 6);
        border-radius: 0%;
    }
    .skills-container-tech{  
        box-shadow: none;
    }
    .skills-container-nontech{  
        box-shadow: none;
    }
    .skills-container{
        border: 10px solid rgb(71, 6, 6);
        border-radius: 0%;
    }
    .skill-stat{
        width: 200px;
    }
    .hobbies-image{
        width: 150px;
    }
    .skillshead2{
        font-size: 25px;
    }
    .skills{
        font-size: 25px;
        font-family: Sofia;
    }
    .hobbies-image:hover{
        width: 160px;
        transition-duration: 2s;
    }
}
